*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
 nav{
    display: flex;
    width: 1600px;
    height: 92px;
   justify-content: space-between;
   align-items: center;
   background-color: #1A0B2E;
   border-bottom: 1px solid #965ce3;
   padding: 0px 200px;
}
.inner{
    width: 219px;
    height: 32px;
    color: #FFFFFF;
    font-size: 38px;
    
}
#wbc{
    background:linear-gradient( 45deg ,#F7E93F,#FB09B4,#9100F8);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list{
    display: flex;
    gap: 32px;
    width: 218px;
    height: 19px;
   list-style: none;
   font-size: 16px;

}
   .list a {
    text-decoration: none;
    color: #FFFFFF;
}
.btn1{
 width: 135px;
 height: 44px;
 gap: 4px;
 padding: 16px 12 px;
 border-radius: 10000px;
 display: flex;
 justify-content:center ;
 align-items: center;
 background:linear-gradient( 45deg ,#F7E93F,#FB09B4,#9100F8);
 color:#FFFFFF;
 font-size: 16px;
 font-weight: semi bold;
 border: none;
}
.content{
    width: 1600px;
    height: 760px;
    background-image: url('assets/hero-bg.png');
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.head{
    width: 550px;
    height: 559px;
    box-sizing: border-box;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 40px;
}
.as{
    width: 550px;
    height: 100px;
    gap: 8px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pra{
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    gap: 10px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
     padding: 16px 8px ;
     display: flex;
     justify-content: center;
    align-items: center;
    box-sizing: border-box;
    bottom: -50px;
    right: -250px;
    z-index: 1;
}
.box{
    position: relative;
}
.micro{
    top:-270px;
    right: -110px;
}
.hero{
    gap: 24px;
    top:-200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
}
.hebtn{
    width: 356px;
    height: 44px;
    gap: 8px;
    display: flex;
    justify-content: center;
}
.btn2{
    width: 201px;
    height: 44px;
    gap: 8px;
    padding: 20px 12px;
    border-radius: 10000px;
    background: linear-gradient( 45deg ,#F7E93F,#FB09B4,#9100F8);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn3{
     width: 147px;
    height: 44px;
    gap: 8px;
    padding: 20px 12px;
    border-radius: 10000px;
    background: none ;
    color: #00FF88;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00FF88;

}
#about{
    width: 1600px;
    height: 646px;
    padding: 50px 200px 120px 200px;
    background-color: #1A0B2E;
   }
.about-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.line{
    width: 1200px;
    height: 0px;
    border:1px solid #FFFFFF;
}
.about-1{
   width: 1200px;
   height: 222px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

}
.prag-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 16px;
    gap: 12px;;
}
.about-fot{
    width: 1200px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:80px;
}
.akb{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    gap: 16px;
    width: 240;
    height: 94;
}
.akb-1{
    font-size: 48px;
    color: #00FF88;
    font-weight: bold;
}
.back{
    width: 1600px;
    height: 1121px;
    background-color: #230E3D;
    padding: 120px 200px;
}
.back-1{
    width: 1200px;
    height: 58px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.full{
    margin-top: 40px;
    width: 1200px;
    height: 783px;
}
#wid{
    display: grid;
    grid-template-columns: repeat(3 ,380px);
    grid-template-rows: repeat(2,225px);
    gap: 30px;
   
  
}
.img-1{
    display: grid;
    grid-column: span 1;
    grid-row: span 2;
      background-color: #351165;
       border-radius: 40px;
       padding: 40px 40px;
       color: #FFFFFF;
       align-items: flex-start;
       display: flex;
       flex-direction: column;
       gap: 16px;
       justify-content: center;
}
.img-2{
     display: grid;
    grid-column: span 2;
    grid-row: span 1;
      background-color: #351165;
       border-radius: 40px;
        padding: 40px 40px;
       gap: 16px;
       color: #FFFFFF;
       align-items: flex-start;
}
.wid-2{
    width: 1200px;
    height: 273;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3 ,380px);
    grid-template-rows: repeat(1,273px);
    margin-top: 30px;
}
.img-3{
display: grid;
    grid-column: span 2;
    grid-row: span 1;
      background-color: #351165;
       border-radius: 40px;
        padding: 40px 40px;
       gap: 16px;
       color: #FFFFFF;
       align-items: flex-start;
}
.img-4{
    display: grid;
    grid-column: span 1;
    grid-row: span 1;
      background-color: #351165;
       border-radius: 40px;
        padding: 40px 40px;
       gap: 16px;
       color: #FFFFFF;
       align-items: flex-start;
}
.sec-3{
    width: 1600px;
    height: 1276px;
    padding: 120px 200px;
    background-color: #1A0B2E;
    gap: 120px;
}
.ben{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 120px;
}
.ben-1{
width: 1200px;
height: 538px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
}
.btn-2{
width: 1200px;
height: 440px;
display: flex;
justify-content:space-between;
align-items: center;
gap:30px;
}
.card-1{
    width: 380px;
    height: 440px;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #250D44;
}

.cd-1{
     padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    color: #FFFFFF;
}
.clk-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}
.card-2{
     width: 380px;
    height: 440px;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #250D44;
}
.cd-2{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    color: #FFFFFF;
}
.clk-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}
.card-3{
     width: 380px;
    height: 440px;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #250D44;
}
.cd-3{
     padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    color: #FFFFFF;
}
.clk-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}
.ben-2{
    width: 1200px;
    height: 378px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bj{
    color: #FFFFFF;
    font-size: 48px;
    font-family: Bold;
    width: 1200px;
    height: 58px;
     display: flex;
    justify-content: center;
    align-items: center;
}
.dj{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #351165;
    width: 1200px;
    height: 280px;
    gap: 24px;
    padding: 40px 40px;
    border-radius: 40px;
    color: #FFFFFF;
}
.pg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}
.ing{
    display: flex;
    gap: 8px;
    width: 184px;
   height: 40px;
}
.ing-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border:solid #b395e4;
}
.fot{
    width: 1600px;
    height: 412px;
    background-image: url('assets/footer-bg.png');
}